* {
    padding: 0;
}
section {
    margin-bottom: 100px;
}
li {
    list-style: none;
}
.nav ul {
    min-height: 60px;
    padding: 0 5%;
    margin: 0;
}
.info {
    background: #333;
    padding: 20px;
}
.nav a {
    color: #333;
    padding: 20px;
}
.nav li {
    position: relative;
}
.nav li::after {
    content: '/';
    position: absolute;
    color: #333;
}
.nav li:last-child:after {
    display: none;
}
.top_info {
    display: flex;
    min-height: 140px;
    background: #fff;
    position: relative;
}
.tel {
    margin-left: 40px;
}
.working_hours > span:first-child,
.tel > span:first-child {
    margin-right: 10px;
}
i.far.fa-clock,
i.fas.fa-phone-alt  {
    color: #f36009;
    margin-right: 10px;
}
i.fas.fa-mobile-alt,
i.fas.fa-map-marker-alt,
footer i.far.fa-envelope {
    color: #f36009;
}
.working_hours span {
    color: #fff;
}
.logo img {
    max-width: 130px;
}
.header_img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 700px;
    background-image: url(../img/home_img.png);
    background-size: cover;
}
.header_img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.header_img p {
    color: #fff;
    z-index: 1;
    font-size: 2.5rem;
}
h1 {
    font-size: 3.5rem!important;
    color: #fff;
    text-transform: uppercase;
    z-index: 1;
}
h2.title {
    position: relative;
    text-align: center;
    margin: 70px 0;
}
h2.title::after {
    position: absolute;
    content: '';
    bottom: -50%;
    width: 50px;
    height: 5px;
    background: #EB8209;
    left: 48%;
}
.card {
    background-color:#007abc!important;
}
.card_product {
    margin-bottom: 15px;
}
button.btn.btn-link {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.card-body > a {
    margin: 15px 0;
}
.product {
    padding: 10px;
    border: 2px solid #333;
    border-radius: 2px;
    transition: .3s ease;
    min-height: 140px;
    background: #fff;
}
.product-title {
    flex-basis: 75%;
    font-weight: 700;
    color: #333;
}
.product:hover {
    border: 2px solid #fde037;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
}
.about_us {
    min-height: 500px;
    background: #fff;
}
.about_us > div {
    padding: 60px;
}
.img_about {
    background-image: url(../img/test.png);
    background-size: cover;
}
.about_us p {
    font-size: 20px;
    margin: 15px 0;
}
img.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.comment_text {
    max-width: 430px;
    text-align: center;
    margin: 40px 0;
}
.feedback {
    padding: 100px 0;
    background: #fff;
    margin-bottom: 0!important;
}
.feedback > .title {
    margin: 0!important;
}
.form_block {
    padding: 3% 15%!important;
}
.wrap_contact > div:last-child {
    font-size: 20rem;
}
footer {
    min-height: 200px;
    background: #333;
}
footer > .container > div {
    color: #fff;
    text-align: center;
    font-size: 15px;
}
footer > .container > div > .icon {
    font-size: 3rem;
}
img.card-img-top {
    max-height: 390px;
    background: #fff;
}
.card-body {
    color: #fff;
}
section.products {
    padding: 100px 90px 0 90px;
}
section.products > .card {
    margin: 10px;
}
section.single_product {
    margin-top: 40px;
}
.img_product > img {
    width: 100%;
    max-height: 700px;
}
.description_product {
    padding: 0 20px;
}
ul.nav.nav-tabs {
    margin-top: 120px;
}
.price_product, .text_product {
    margin-top: 30px;
}
.description_product .nav {
    background: transparent!important;
}
button.btn.btn-primary.btn-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
ul.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul.menu a {
    color: #fff;
    font-size: 20px;
}
ul.menu li {
    margin: 5px 0;
}
.pos-f-t,
.p-4 {
    background: #333;
}
.navbar {
    justify-content: flex-end!important;
    padding: 1.5rem 2rem!important;
}
.icon_feedback_block {
    text-align: center;
}
@media(min-width: 981px) {
    .nav-mobile,
    .pos-f-t {
        display: none;
    }
}
@media(max-width: 980px) {
    .top_info {
        display: none!important;
    }
    .modal_form {
        margin-top: 20px;
        justify-content: center;
    }
    .header_img {
        text-align: center;
    }
    section#about_us {
        flex-direction: column-reverse;
    }
    .img_about {
        min-height: 300px;
    }
    .icon_feedback_block {
        display: none!important;
    }
    .working_hours {
        flex-direction: column;
        text-align: center;
    }
    section.products {
        padding: 100px 0;
    }
}
@media(max-width: 767px) {
    h1 {
        font-size: 1.5rem!important;
    }
    .header_img p {
        font-size: 1.5rem;
    }
    .slick-arrow {
        display: none;
    }
}